body{
    background-color: white;
}
h1{
    text-align: center;
}

p{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th{
    background-color: #a02424;
    color: #fff;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}